.input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .text-input {
    width: 100%;
    padding: 20px;
    font-size: 21px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid blueviolet;
    font-family: DM mono;
    color: blueviolet;
    outline: none;
  }
  
  .highlighted-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: DM mono;
    user-select: none;
  }
  
  .correct {
    color: white;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .original {
    color: rgba(128, 128, 128, 0.607);
  }
  